@{
	ViewData["title"] = "Ventas";
}

<div class="p-5  justify-content-end">
	<div class="d-flex justify-content-end">
		<a asp-controller="Sales" asp-action="CreateSale" class="btn btn-outline-success ">Realizar venta</a>
	</div>
	
	<table class="table table-striped mt-1">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					folio
				</th>
				<th>
					fecha
				</th>
				<th>
					total
				</th>
				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
			</tr>
		</tbody>
	</table>
</div>

